img {
    margin: auto;
}
body {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: beige;
    color: brown;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}
